button a{
    text-decoration: none;
}
.logo{
    height:20%;
    width:60%;
}
.logo_phone{
    width:70%;
}

@media only screen and (max-width: 600px) {
    #navbarbig_screen{
      display:none;
    }
}
@media only screen and (min-width: 600px) {
    #navbarsmall_screen{
      display:none;
    }
}

.mobile-nav{
   
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #fff;
        padding: 10px;
}
#navbar-brand{
    margin:auto;
}
.navbar-brand{
    margin-right: 0px;
}
.jumbotron{
    background-image: url('../images/woman_image.jpg');
    background-size: cover;
    
}


.featured-slip{
    padding-top:2%;
}

.icon_description{
    text-align: center;
}
#Testimonial{
    margin-top: 50px;
    margin-bottom:50px;
}
.cart_image{
    height:20%;
    width: 20%;

}
#summary2{
    padding-top:4%;
    padding-left:4%;
    padding-right:4%;
}
#summary{
    padding-top:4%;
    padding-left:6%;
    padding-right:6%;
    padding-bottom:10%;
    text-align: center;
    background-color: rgb(206, 199, 199);
}

.back{
    padding-bottom: 10%;
}
.back2{
    padding-bottom: 70%;
}
.orders{
    padding:25% 15%;
    text-align: center;
}

#profile{
    padding:4% 4%;
    text-align: center;
}
#betslip{
    padding:4% 4%;
}
#success{
    padding:10% 4%;
}
.list_item{
    display:inline;
    color:#ffffff;
    margin-right: 20px;
}
#second_nav{
    margin:auto;
}