{% extends 'base.html' %}

{% block content %}
  <h1>Admin Dashboard</h1>

  <h2>Users</h2>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Username</th>
        <th>Email</th>
        <th>Is Admin</th>
      </tr>
    </thead>
    <tbody>
      {% for user in users %}
        <tr>
          <td>{{ user.id }}</td>
          <td>{{ user.username }}</td>
          <td>{{ user.email }}</td>
          <td>{{ "Yes" if user.is_admin else "No" }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  
{% endblock %}
