<header>
  {% with messages = get_flashed_messages() %}
  {% if messages %}
    <div class="alert alert-{{ messages[0][1] }} alert-dismissible fade show" role="alert" style="background-color: rgba(151, 240, 17, 0.961);color:black;font-weight:bold;text-align: center;">
      {{ messages[0] }}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  {% endif %}
{% endwith %}

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="navbarbig_screen">
      <div class="container">
        <a class="navbar-brand" href="{{ url_for('index') }}"><img class="logo"src="{{ url_for('static', filename='images/logo.PNG') }}"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('index') }}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contact</a>
            </li>
            {% if  not current_user.is_authenticated: %}
            <li class="nav-item">
              <button type="button" class="btn btn-success me-md-2"><a href="{{url_for('login')}}"style="text-decoration:none;color:white;">Login</a></button>
            </li>
            <li class="nav-item">
              <button type="button" class="btn btn-dark me-md-2"><a href="{{url_for('register')}}" style="text-decoration:none;color:white;">Register</a></button>
            </li>
            {% else %}
            <li class="nav-item user">
              <a class="nav-link" href="{{ url_for('profile') }}" style="color:white;">{{current_user.username}}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
            </li>

            {% endif %}
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('cart') }}" id="cart-icon" role="button"  aria-expanded="false" style="color:white;">
                <i class="fas fa-shopping-cart"></i>
                <span class="badge bg-danger" id="cart-count">0</span>
              </a>
            </li>
            
          </ul>
          
        </div>
      </div>
    </nav>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="navbarsmall_screen">
      <div class="navbar-brand" id="navbar-brand" style="text-align:center;">
        <a href="{{ url_for('index') }}" ><img src="{{ url_for('static', filename='images/logo.PNG') }}"></a>
  
      </div>
    </nav>
    

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="navbarsmall_screen">
      <div id="second_nav">
        <ul>
          <li class="list_item">
            <a  href="{{ url_for('index') }}"  style="color:white;"><i class="fa-solid fa-house fa-3x"></i></a>
          </li>
          <li class="list_item">
            <a  href="{{ url_for('cart') }}" id="cart-icon" role="button"  aria-expanded="false" style="color:white;">
              <i class="fas fa-shopping-cart fa-3x"></i>
              <span class="badge bg-danger" id="cart-count" style="font-size: large;">0</span>
            </a>
          </li>
          {% if  not current_user.is_authenticated: %}
          <li class="list_item">
            <a  href="{{ url_for('login') }}" style="color:white;"><i class="fa-solid fa-right-from-bracket fa-3x"></i></a>
          </li>
          {% else %}
          <li class="list_item">
            <a  href="{{ url_for('logout') }}" style="color:white;"><i class="fa-solid fa-right-from-bracket fa-3x"></i></a>
          </li>
          {% endif %}
         
          
        </ul>

      </div>
    </nav>
 
    
   
  </header>
